.venv
.git
.gitignore
.github
.env
.env.*
!.env.example
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
tests
docs
.bandit
.bandit-report.*.json
__pycache__
*.py[oc]
.vscode
.idea
.DS_Store
*.md
!README.md
LICENSE
docker-compose.yml